@font-face {
  font-family: Hellix;
  src: url("Hellix-Regular.ttf");
}
@font-face {
  font-family: Hellix;
  src: url("Hellix-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: Hellix;
  src: url("Hellix-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: Hellix;
  src: url("Hellix-Bold.ttf") format("truetype");
}

/* !-----------Global CSS------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Hellix;
}

p {
  width: 382px;
  text-align: center;
  line-height: 24px;
  display: block;
  margin: 1rem auto 0 auto;
}

button {
  background-color: #4b5092;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  width: 252px;
  height: 59px;
  border: none;
  border-radius: 35px;
  display: block;
  margin: 2rem auto 0 auto;
}

h5 {
  font-size: 24px;
}

/*! ------------Mobile CSS------------ */
.page-container {
  width: 414px;
  margin: 0 auto;
  color: #111235;
  font-style: normal;
}

.header-nav {
  display: none;
}

.header-box {
  text-align: center;
  width: 100%;
  margin: 2rem auto 0 auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}
.page-title {
  font-weight: 400;
}

.img-1 {
  display: block;
  width: 80%;
  margin: 3rem auto 0 auto;
}

.subtitle-1 {
  font-size: 64px;
  font-weight: 400;
  text-align: center;
  line-height: 75px;
}

.img-2 {
  margin: 6rem auto 3rem auto;
}

.color-text-block {
  background-color: #f2f8ff;
  padding: 3rem 1rem;
}

.subtitle-2 {
  width: 360px;
  font-size: 48px;
  font-weight: 500;
  text-align: left;
  line-height: 58px;
  margin-left: 10px;
}

.color-text-block p {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
}

.gradient-block {
  margin-top: 5rem;
  margin-bottom: -5px;
  padding: 3rem 0 0rem 0;
  background: linear-gradient(99.85deg, #bad5ff 0%, #6487bf 100%);
}
.subtitle-3 {
  display: block;
  width: 399px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  line-height: 58px;
}

.bio {
  font-size: 18px;
  font-weight: 500;
}

.gradient-text {
  line-height: 24px;
}

.button-2 {
  background-color: #fff;
  color: #436baa;
  padding: 1rem;
}

/*! ------------Bottom Half Mobile Color Change ------------ */

.bottom-half-container {
  background-color: #f0f6ff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.benefits-text {
  font-size: 48px;
  line-height: 58px;
  text-align: left;
}

.benefits-box-1 {
  width: 382px;
  height: 274px;
  margin: 10px auto;
  background-color: #e4f0ff;
  border-radius: 30px;
  padding: 50px 40px;
}

.benefits-box-text {
  width: 299px;
  text-align: left;
  line-height: 24px;
  padding: 10px 40px 0 0;
}

.benefits-box-2 {
  width: 382px;
  height: 274px;
  margin: 10px auto;
  background: rgba(114, 122, 239, 0.1);
  border-radius: 30px;
  padding: 50px 40px;
}

.button-3 {
  margin-bottom: 4rem;
}

.nav-title {
  padding: 2rem;
  text-align: center;
}
ul {
  list-style-type: none;
}

.nav-links {
  margin: 0;
  text-align: center;
  line-height: 70px;
}

a:link,
a:visited {
  color: #111235;
  text-decoration: none;
}

a:hover,
a:active {
  color: #436baa;
}

h6 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.email {
  width: 255px;
  height: 40px;
  display: block;
  margin: 3rem auto;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-image: url("https://assets.codepen.io/6060109/icon-send.png");
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: 14px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.social-links img {
  width: 24px;
  margin-top: 0;
}

.desktop-container {
  display: none;
}

.copyright {
  font-size: 10px;
  margin-top: 4rem;
}

.row-4 {
  display: none;
}
/*! Medium devices (landscape tablets, 992px and up) */

@media only screen and (min-width: 992px) {
  .mobile-only {
    display: none;
  }

  .page-container {
    width: 100%;
    max-width: 1300px;
  }

  .top-container {
    padding: 0 5rem;
  }
  .header-box {
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav {
    display: flex;
    flex-basis: 40%;
    justify-content: space-around;
  }

  .row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .row-1-left {
    order: -1;
    flex-basis: 50%;
    justify-self: flex-start;
    padding: 3rem 0;
  }

  .subtitle-1 {
    font-size: 60px;
    text-align: left;
  }

  p {
    text-align: left;
    width: 95%;
    margin: 0.8rem 0;
  }

  button {
    margin: 1.5rem 0;
    width: 151.2px;
    height: 40.4px;
    font-weight: 400;
    font-size: 14px;
  }

  .row-1-right {
    flex-basis: 50%;
    justify-self: flex-start;
    align-self: center;
  }

  .img-1 {
    width: 100%;
    margin: 0;
  }

  .row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .row-2-left {
    flex-basis: 50%;
  }

  .row-2-right {
    flex-basis: 50%;
    height: auto;
  }

  .color-text-block {
    border-radius: 50px;
  }

  .gradient-block {
    padding: 0;
    margin: 16px -0.5px 0 -0.5px;
    width: 100%;
  }
  .row-3 {
    display: flex;
  }

  .row-3-left {
    order: -1;
    flex-basis: 50%;
    padding-left: 4rem;
  }

  .img-3 {
    margin-bottom: -5px;
  }

  .row-3-right {
    flex-basis: 50%;
    align-self: center;
    justify-self: center;
    padding: 3rem 3rem 3rem 1rem;
  }

  .row-3-right p {
    margin-left: 0.7rem;
  }

  .bottom-half-container {
    padding: 0 5rem;
    margin-top: -0.5px;
  }
  .row-4 {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    margin-bottom: 2rem;
  }

  .row-4-left {
    flex-basis: 50%;
  }

  .button-3 {
    margin-bottom: 0;
  }

  .row-5 {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    margin-bottom: 4rem;
  }

  .row-5-left {
    order: -1;
    flex-basis: 600px;
  }

  .row-5-right {
    flex-basis: 600px;
  }

  .img-4 {
    width: 400px;
  }
  .row-5-left-top {
    display: flex;
    gap: 1rem;
    flex: 1 800px;
  }

  .row-5-left-bottom {
    display: flex;
    gap: 1rem;
    width: 800px;
  }

  hr {
    width: 100%;
  }

  .row-6 {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
  }

  .nav-title {
    padding: 0;
    font-weight: 400;
    line-height: 40px;
  }

  .nav-links {
    text-align: left;
    column-count: 2;
    line-height: 40px;
  }

  h6 {
    text-align: left;
    line-height: 40px;
  }

  .email {
    margin: 0;
  }
  .social-links {
    display: none;
  }

  .copyright {
    margin: 0;
  }
}
